:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --table-border-color: lightgray;
  --link-text-shadow: .03em 0 #fffff8, -.03em 0 #fffff8, 0 .03em #fffff8, 0 -.03em #fffff8, .06em 0 #fffff8, -.06em 0 #fffff8, .09em 0 #fffff8, -.09em 0 #fffff8, .12em 0 #fffff8, -.12em 0 #fffff8, .15em 0 #fffff8, -.15em 0 #fffff8;;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #222222;
    --text-color: #eeeeee;
    --table-border-color: #444444;
    --link-text-shadow: none;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
header {
  position: fixed;
  top: 0px;
  padding: 8px 0;
  width: 100%;
  background-color:inherit;
  z-index: 1;
}
header > span {
  margin-right: 1rem;
  opacity: 1;
  transition: opacity 0.5s;
}
article {
  opacity: 1;
  transition: opacity 0.5s;
}
a {
  text-shadow: var(--link-text-shadow) !important;
}
.hidden {
  visibility: hidden;
  transition: visibility 0s 0.5s;
}
.hidden > * {
  opacity: 0;
  transition: opacity 0.5s;
}
table {
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
  text-align: left;
}
th, td {
  padding: 4px;
  margin: 4px;
}
section > iframe {
  width: 55%;
  min-height: 400px;
}
pre > code {
  margin-left: 0;
}
.katex {
  font-size: 1em;
}