header {
  position: fixed;
  top: 0px;
  padding: 8px 0;
  width: 100%;
  background-color:inherit;
  z-index: 1;
}
header > span {
  margin-right: 1rem;
}
header a:link {
  text-decoration: none;
}
header a:visited {
  text-decoration: none;
}
table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: left;
}
th, td {
  padding: 4px;
  margin: 4px;
}
section > iframe {
  width: 55%;
  min-height: 400px;
}
pre > code {
  margin-left: 0;
}
.katex {
  font-size: 1em;
}